{% extends 'main/base.html' %}

{% block title %}
    Погода
{% endblock %}

{% block content %}
    {% load static %}
    <h2 class="text-center">Погода в городе {{ place }} на текущий момент:</h2>
    <ul>
        <li><output>Температура воздуха: {{ temp }} градусов по Цельсию.</output></li>
        <li><output>Ощущается как: {{ feel_like }} градусов по Цельсию.</output></li>
        <li><output>Порывы ветра достигают: {{ wind }} м/с.</output></li>
        <li><output>Статус: {{ status }}.</output></li>
    </ul>
    {% if temp > 20 %}
        <img class='imagecenter' src="{% static 'img/temp20+.jpg' %}" alt="photo">
    {% elif temp > 10 %}
        <img class='imagecenter' src="{% static 'img/temp10+.jpg' %}" alt="photo">
    {% elif temp >= 0 %}
        <img class='imagecenter' src="{% static 'img/temp0+.jpeg' %}" alt="photo">
    {% elif temp < 0 %}
        <img class='imagecenter' src="{% static 'img/temp-10+.jpg' %}" alt="photo">
    {% endif %}
{% endblock %}