{% extends 'main/base.html' %}

{% block title %}
    Главная страница
{% endblock %}

{% block content %}
    {% if not request.user.is_authenticated %}
        <center>
        <h1 class="text-center1">Чтобы воспользоваться сайтом зарегестрируйтесь/авторизируйтесь!</h1>
        </center>
    {% endif %}
    <h2 class="text-center">Здесь может быть ваша реклама</h2>
    <p class="text-center">Ну а пока тут только котик...</p>
    {% load static %}
    <img class='imagecenter' src="{% static 'img/image6.jpg' %}" alt="photo">
    {% if not request.user.is_authenticated %}
        <a class="green" href="{% url "register"%}">Регистрация</a>
        <a class="green" href="{% url "login"%}">Войти</a>
    {% endif %}
    <!--<ul>
    {% for p in posts%}
        <li>{{ p.title }}</li>
    {% endfor %}
    </ul> -->
{% endblock %}