{% extends 'main/base.html' %}

{% block title %}
    Главная страница
{% endblock %}

{% block content %}
    {% if not request.user.is_authenticated %}
        <center>
            <h1 class="text-center1">Чтобы воспользоваться сайтом зарегестрируйтесь/авторизируйтесь!</h1>
        </center>
    {% endif %}
    <h2 class="text-center">Здесь может быть ваша реклама</h2>
    <p class="text-center">Ну а пока тут только котик...</p>
    {% load static %}
    <img class='imagecenter' src="{% static 'img/maincat.jpg' %}" alt="photo">
    {% if not request.user.is_authenticated %}
        <center>
            <a class="btn btn-primary" href="{% url "register" %}">Регистрация</a>
            <a class="btn btn-primary" href="{% url "login" %}">Войти</a>
        </center>
    {% endif %}
{% endblock %}