{% extends 'main/base.html' %}

{% block title %}
    Пасхалочка
{% endblock %}

{% block content %}
    {% load static %}
    <style>

        .wewe {
        {#flex-direction: unset;#}{#align-items: revert;#}
        }

    </style>
    <div class="wewe">
        <h1 class="text-center">Мой профиль:</h1>
        <img class='imagecenter' src="{% static 'img/nonava.png' %}" alt="photo">
        <h2>Email: {{ current_user.email }}</h2>
        <h2>Username: {{ current_user }}</h2>
        <h2>Имя : {{ current_user.first_name }}</h2>
        <a href="{% url 'friends' %}" class="btn btn-primary">Друзья</a>
        <center>
            <h3>Ваши записи:</h3>
            <hr>
            {% if not userposts.exists %}
                <hr>
                <h3>Пока что здесь пусто... Напишите что-нибудь!</h3>
                <hr>
            {% else %}
                <ul class="list-articles">
                    {% for p in userposts %}
                        <div class="article-panel"><p class="last"> Дата: {{ p.time_update }}</p>
                            <p class="first"> Заголовок: {{ p.title }}  </p></div>
                        <p>{{ p.content }}</p>
                    {% endfor %}
                </ul>
            {% endif %}
            <hr>
            <a href="{% url 'adduserpost' %}" class="btn btn-primary">Добавить запись</a>
        </center>
    </div>
{% endblock %}